/*Hero Section*/
/*Carousel Items*/
.c-item {
  height: 30rem;
}

/*Carousel Images within the Carousel Items*/
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/*Left/Right Clickable areas on the carousel*/
.carousel-control-prev {
  width: 7%;
}

.carousel-control-next {
  width: 7%;
}

/*About Me Section*/
.c-about {
  height: auto;
  width: 100%;
  /*Added for this example image to not be oversized at bigger screens:*/
  max-width: 28rem;
  /*Source for the box-shadow, #50 at this link: https://getcssscan.com/css-box-shadow-examples*/
  box-shadow: rgba(255, 149, 149, 0.4) 5px 5px, rgba(255, 149, 149, 0.3) 10px 10px, rgba(255, 149, 149, 0.2) 15px 15px, rgba(255, 149, 149, 0.1) 20px 20px, rgba(255, 149, 149, 0.05) 25px 25px;
}

/*Portfolio Section*/
.p-rectangle {
  border: 1px solid rgb(255, 149, 149);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.p-image-box {
  flex: 0 0 25%;
  max-width: 25%;
}
.p-image-box img {
  width: 100%;
  height: auto;
}

.p-description {
  padding: 20px;
}

/*The portfolio image box doesn't look on smaller screens, 
so this breakpoint makes it mobile friendly.*/
@media (max-width: 767px) {
  .p-rectangle.d-flex {
    flex-direction: column;
  }
  .p-image-box {
    flex: 0 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
/*contact Section*/
#floatingTextarea {
  height: 200px;
}

/*Footer Section*/
footer a {
  text-decoration: none;
  color: white;
}

#footer-icons i {
  font-size: 20px;
  margin-right: 10px;
}
